@primary_font: 'Montserrat', sans-serif;
@primary_color: #df631e;

* {
    box-sizing: border-box;
}

body {
    color: #ffffff;
    font-family: @primary_font;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.9px;
}

.main {
    background-color: #1C1919;
    background: url(../img/main_bg2.jpg) center center no-repeat;
    // background: linear-gradient(to bottom,
    //         rgba(28, 25, 25, 0),
    //         rgba(28, 25, 25, 100)), url(../img/main_bg.jpg);
    // background-size: cover;
    // background-position: center center;   
    text-align: center;

    .fp-tableCell {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
}

.main__description {
    font-size: 24px;
    letter-spacing: 1.2px;
}

.wrapper__btn {
    display: flex;
    align-items: center;
}

.main__btn {
    margin-right: 10px;
    margin-left: 10px;
    font-size: 27px;
    text-transform: uppercase;
    color: @primary_color;
    // box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.slide__item {
    background-color: #1C1919;
    background: url(../img/slide1_bg4.jpg) center center no-repeat;
    background-size: 117%;
    padding-left: 5%;
    padding-right: 5%;
    // height: 440px;
    // background: radial-gradient(circle, rgba(28, 25, 25, 0.6) 0%, rgba(28, 25, 25, 1) 100%), url(../img/slide1_bg.jpg);
    // background-size: cover;
    // background-position: center center;
}

.slide__title {
    font-size: 36px;
    letter-spacing: 1.8px;

    span {
        color: @primary_color;
    }
}

.slide__descr-list {
    line-height: 46px;
}

.slide__descr-link {
    color: @primary_color;
}

.page__list {
    text-align: right;
}

.page__number {
    font-size: 24px;
}

// .fp-controlArrow.fp-prev{
// content: 'url(../img/arr_prev.svg)';
// position: absolute;
// top: 50%;
// left: 15px;
// }





.scrollpanel .sp-scrollbar {
    width: 10px;
    background-color: #ffffff;
    opacity: .5;
    border-radius: 5px;
    cursor: pointer;
}

.scrollpanel .sp-scrollbar .sp-thumb {
    background-color: @primary_color;
    transition: height 0.2s ease-in-out;
}



.scrollpanel .sp-scrollbar.active .sp-thumb {
    background-color: #999;
}